<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/stylesheets/style.css")
    title URL Shortener
  body
    main
      div(class="title") URL Shortener
      div(class="picture")
        img(src="/image/url.png", alt="連結圖片")
      div(class="info")
        h2 Link shortening successful!
        h2 If you open this website with Heroku, visit it at 
        p https://intense-tor-31007.herokuapp.com/#{shortenUrl}
        h2 If you open this website with localhost, visit it at 
        p localhost:3000/#{shortenUrl}
        